:root{

    --cor1: #ec2c24; 
    --cor2: #9b4d4a; 

}

body{

  background-image: url('../assets/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

nav{

    width: 97%;
    padding: 0.5rem;
    position: sticky;
    background-color: var(--cor2);
    display: flex;
    justify-content: space-between;

}

.logo{

    height: 3rem;
    width: 12rem;

}

nav ul{

    display: flex;
    flex-direction: row;
    gap: 1.5rem;

}

nav ul li{

    list-style: none;

}

nav a{

    font-weight: bold;
    color: black;
    text-decoration: none;

}

nav ul li .active{ 

    text-decoration: underline;

}

nav .part1{

    display: flex;
    flex-direction: row;

}

nav .part2{

    display: flex;
    align-items: center;
    justify-content: end;

}

nav .part2 a{

    font-size: 1.5rem;
    margin: 1rem;

}

nav .part2 img{

    height: 7dvh;

}

main .container{

    margin: 1rem;
    padding-top: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: blue;

}
