@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{

    --cor1: #ec2c24; 
    --cor2: #9b4d4a; 
    --cor3: #C4A484;

}

*{

    margin: 0%;
    font-family: '', sans-serif;

}

body{

  background-image: url('../assets/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

nav{

    width: 100%;
    position: sticky;
    background-color: var(--cor2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-top: 0.5rem;

}

.logo{

    height: 3rem;
    width: 12rem;
    padding: 0.5rem;

}

nav ul{

    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;

}

nav ul li{

    list-style: none;

}

nav a{

    font-weight: bold;
    color: black;
    text-decoration: none;

}

nav ul li .active{ 

    text-decoration: underline;

}

nav .part1{

    display: flex;
    flex-direction: row;

}

nav .part2{

    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    margin: 0.5rem;

}

nav .part2 a{

    font-size: 1.5rem;
    margin: 1rem;

}

nav .part2 img{

    height: 7dvh;

}

nav .part2 button{

    height: 2rem;
    width: 3rem;
    background-color: var(--cor3);

}

main .container{

    opacity: 90%;
    margin: 1rem;
    padding: 3rem;
    background-color: var(--cor3);
    outline: 3px solid black;
    border-radius: 15px;

}

body footer{

    height: 5rem;
    width: 100%;
    background-color: var(--cor2);
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

}
