@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{

    --cor1: #ec2c24; 
    --cor2: #9b4d4a; 
    --cor3: #C4A484;
    --cor4: #6d5c4b;

}

*{

    margin: 0%;
    font-family: '', sans-serif;

}

body{

  background-image: url('../assets/background2.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

/* Nav bar */

nav{

    width: 100%;
    position: sticky;
    background-color: var(--cor2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-top: 0.5rem;

}

.logo{

    height: 3rem;
    width: 12rem;
    padding: 0.5rem;

}

nav ul{

    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;

}

nav ul li{

    list-style: none;

}

nav a{

    font-weight: bold;
    color: black;
    text-decoration: none;

}

nav ul li .active{ 

    text-decoration: underline;

}

nav .part1{

    display: flex;
    flex-direction: row;

}

nav .part2{

    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    flex-direction: row;
    margin: 0.5rem;

}

nav .part2 a{

    font-size: 1.5rem;
    margin: 1rem;

}

nav .part2 img{

    height: 7dvh;

}

nav .part2 button{

    height: 2rem;
    width: 100%;
    background-color: var(--cor3);

}

/* Corpos de texto */

main{

    display: flex;
    align-items: start;
    justify-content: center;

}

main .container{

    width: 100%;
    opacity: 90%;
    margin: 1rem;
    padding: 3rem;
    background-color: var(--cor3);
    outline: 3px solid black;
    border-radius: 15px;
    flex-direction: row;

}

main .container-discucoes{

    width: 80%;
    opacity: 90%;
    margin: 1rem;
    padding: 3rem;
    background-color: var(--cor3);
    outline: 3px solid black;
    border-radius: 15px;
    flex-direction: row;

}

main .lista-discucoes{

    width: 20%;
    opacity: 90%;
    margin: 1rem;
    padding: 0.5rem;
    background-color: var(--cor3);
    outline: 3px solid black;
    border-radius: 15px;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}

main .lista-discucoes ul li{

    margin-top: 1rem;
    

}

main .container-login{

    width: 50%;
    opacity: 90%;
    margin: 1rem;
    padding: 3rem;
    background-color: var(--cor3);
    outline: 3px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

main .container-login .titulo{

    margin-bottom: 3rem;

}

main .container-login .campos{

    width: 100%;
    height: 100%;

}

main .container-login .campos input{

    height: 3rem;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 15px;
    outline: 1px solid black;
    text-align: center;
    font-size: 1.5rem;

}

main .container-login .campos h3{

    margin-bottom: 0.5rem;

}

main .container-login a{

    color: var(--cor1);

}

main .container-login button{

    margin-top: 1rem;
    width: 70%;
    height: 4rem;
    background-color:var(--cor4);
    font-size: 1.5rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;

}

/* footer */

body footer{

    height: 5rem;
    width: 100%;
    background-color: var(--cor2);
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

}
